.Button {
	@extend %button;

	&--form {
		background: transparent;
		border: 1px solid var(--green);
		color: white;
		min-width: 100px;
		padding: 8px 12px 6px;

		&:hover,
		&:focus {
			background-color: var(--green);
			border-color: var(--green);
			color: white;
		}
	}

	&--outline {
		background: transparent;
		color: white;
		border: 2px solid var(--highlightColor);
		padding-bottom: 11px;
		padding-top: 12px;

		&:hover,
		&:focus {
			background-color: color(var(--highlightColor) lightness(40%));
			border-color: color(var(--highlightColor) lightness(40%));
		}
	}

	&--dark {
		background: var(--green);
		border-color: var(--greenDark);
		color: white;

		&:hover,
		&:focus {
			background-color: var(--greenDark);
			color: white;
		}
	}

	&--simple {
		background: transparent;
		border: none;
	}
}
