.TabbedLink {
	display: block;

	&-link {
		color: white;
		display: inline-block;
		font-size: 1.125em;
		font-weight: bold;
		opacity: 0.65;
		padding: 20px 4px 22px;
		position: relative;
		text-transform: uppercase;
		width: auto;

		&:hover,
		&:focus {
			color: white;
			opacity: 1;
		}

		&.is-active {
			opacity: 1;

			&::after {
				background: var(--highlightColor);
				bottom: 14px;
				content: '';
				display: block;
				height: 4px;
				left: 0;
				position: absolute;
				width: 100%;
			}
		}
	}

	@media (--v_small) {
		display: inline-block;
	}
}
