.Boxes {
	background: var(--grayDark);
	padding: var(--contentPadding) 0;
	text-align: center;

	&-header {
		color: white;
		text-align: center;
	}

	&--courses {
		background: var(--greenDark);

		.Boxes-content {
			margin: 0 auto;
			max-width: 1024px;
		}
	}

	&--news {
		background: var(--gold);

		& > header {
			color: var(--greenDark);
		}
	}

	@media (--v_medium) {
		position: relative;

		&--courses {
			& .Boxes-content {
				margin: 0 auto;
				max-width: 1024px;
			}
		}
	}
}

.BoxesSlides .slick-list {
	height: 364px;
	margin: 0 auto;
	max-width: 328px !important;
	overflow: hidden !important;
	padding: var(--gutter);
	width: 328px !important;
/** /
	padding: calc((100vw - 304px) / 2);
	width: calc(304px + (100vw - 304px)) !important;
/**/

	@media (min-width: 632px) {
		max-width: 632px !important;
		padding: var(--gutter);
		width: 632px !important;
	}

	@media (min-width: 936px) {
		max-width: 936px !important;
		width: 936px !important;
	}
}

.PeopleZoom--js {
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	overflow-y: scroll;
	position: fixed !important;
	right: 0;
	top: 0;
	z-index: 10;

	&.is-active {
		display: block;
	}

	@media (--v_medium) {
		overflow-y: visible;
		position: absolute !important;
	}
}

/** /


.PeopleZoom--js {
	bottom: 0;
	display: block;
	height: 0;
	overflow: hidden;
	left: 0;
	position: fixed !important;
	right: 0;
	top: 0;
	z-index: 10;

	&.is-loaded {
		display: none;
		height: 100%;
		overflow: inherit;
		overflow-y: scroll;
	}

	&.is-active {
		display: block;
	}

	@media (--v_medium) {
		overflow-y: inherit;
		position: absolute !important;
	}
}
/**/
