.Call {
	background: var(--greenDark);
	overflow: auto;
	padding: var(--contentPadding) var(--margin);

	&::after {
		content: '';
		display: block;
		clear: both;
	}

	&-header {
		padding-bottom: var(--contentPadding);
		text-align: center;

		& h4 {
			color: white;
			font-size: 1.875em;/*3.75em;*/
			margin: 0;
		}
	}

	&-content {
		& .button {
			float: left;
			margin: 0;
			min-width: 0;
			width: calc(50% - var(--gutter));

			&:last-child {
				float: right;
			}
		}
	}

	@media (--v_medium) {
		& > div {
			overflow: hidden;
			position: relative;
		}

		&-header {
			float: left;
			padding: 0;
			text-align: left;
			width: 55%;

			& h4 {
				color: white;
				font-size: 3.75em;
				line-height: 1.25;
			}
		}

		&-content {
			float: right;
			position: absolute;
			right: var(--margin);
			top: 50%;
			transform: translateY(-50%);
			width: 40%;

			& .button {
				font-size: 1.5em;
			}
		}
	}
}
