.ContentVideo {
	background: white;
	background-size: cover;
	overflow: auto;
	padding: var(--contentPadding) 0;

	& h2 {
		color: var(--greenDark);
	}

	& h2,
	& h4 {
		padding: 0 var(--gutter);
		text-align: center;
	}

	& h4 {
		font-size: 1.5em;
		margin-left: auto;
		margin-right: auto;
		max-width: 700px;
	}

	&-video {
		padding: 0 var(--gutter);
	}

	&-content {
		padding: 0 var(--gutter);
		text-align: left;

		& p {
			text-align: left;
		}

		& .button {
			margin-left: 0;
		}
	}

	@media (--v_medium) {
		& h4 {
			padding: 0;
		}

		&-video {
			float: left;
			width: 60%;
		}

		&-content {
			float: right;
			width: 36%;
		}

		&--right {
			& .ContentVideo-video {
				float: right;
			}

			& .ContentVideo-content {
				float: left;
			}
		}
	}
}
