.PhotoContent {
	margin-bottom: var(--margin);

	&-image {
		margin: 0;
	}

	&-imageRound {
		border-radius: 50%;
		height: 230px;
		margin: 0 auto var(--margin);
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 230px;

		& img {
			height: 100%;
			left: 50%;
			max-width: 2000px !important;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: auto;
		}
	}

	&-title {
		color: var(--greenDark);
		margin: 0;
	}

	&-content {
		padding: 0 var(--gutter);
		text-align: left;

		& p {
			font-size: 0.875em;
		}
	}

	@media (--v_medium) {
		text-align: left;

		&-image {
			float: left;
			max-width: 30%;
		}

		&-content {
			float: right;
			width: 70%;
		}
	}
}

.Testimonials {
	border-top: 1px solid var(--grayLight);
	margin-top: calc(var(--margin) * 2);
	padding-top: calc(21px);
	position: relative;

	&-icon {
		background: white;
		border: 1px solid var(--grayLight);
		border-radius: 50%;
		color: var(--grayLight);
		height: 42px;
		left: 50%;
		outline: 4px solid white;
		padding: 4px;
		position: absolute;
		top: 0;
		transform: translate(-50%, -50%);
		width: 42px;
	}

	&-content {
		font-size: 0.857142857em;
	}
}

.Testimonial {
	border: none;
	margin: 0 0 var(--gutter);
	padding: var(--gutter) 0 var(--margin);

	& p {
		padding-left: var(--margin);
		padding-right: var(--margin);
	}

	&-cite {
		background: var(--grayLight);
		color: white;
		display: block;
		font-family: var(--serif);
		font-style: italic;
		font-size: 13px;
		line-height: 22px;
		height: var(--margin);
		padding: 0 var(--margin);
		width: 100%;
	}
}

.slick-track {
	display: flex;

	& .Testimonial {
		display: flex;
		height: auto;

		&-cite {
			bottom: 0;
			left: 0;
			position: absolute;
		}
	}
}
