.Brand {
	color: white;
	margin: 0 auto;
	width: 70%;

	& svg {
		width: 100%;
	}

	&--header {
		margin: var(--gutter) 0 var(--gutter) var(--gutter);
		max-width: 70%;
		width: 200px;
		z-index: 101;
	}

	&--footer {
		max-width: 244px;
		padding: 0 var(--gutter);
		width: 100%;
	}
}

.Brand-logo {
	margin: 0 auto;
	width: 100%;
}

.Brand-tag {
	margin: 0 auto var(--gutter);
	width: 83%;
}

@media (--v_medium) {
	.Brand {
		&--header {
			float: left;
			margin-left: var(--margin);
			width: 220px;
		}

		&--footer {
			float: left;
		}
	}
}

/** /
@media (--v_small) {
	.Brand {
		float: left;
		margin: 0;
	}

	.Brand--header {
		xwidth: 40%;

		& .Brand-logo {
			margin-bottom: 0;
		}
		& .Brand-tag {
			margin-bottom: 0;
		}
	}
}

@media (--v_medium) {
	.Brand--header {
		xwidth: 20% !important;
	}
}
/**/