/* 
This CSS resource incorporates links to font software which is 
the valuable copyrighted property of WebType LLC, The Font Bureau 
and/or their suppliers. You may not attempt to copy, install, 
redistribute, convert, modify or reverse engineer this font 
software. Please contact WebType with any questions: www.webtype.com
*/

body:after { content: ''; background-image: url(//pls.webtype.com/v.gif?ct=73977,73977,73977,73977,73979,73979,73979,73979,74664,74664,74664,74664,74665,74665,74665,74665,74663,74663,74663,74663&r=18575&p=17505&h=5%2fBNGLVacBILHLCFKRNCUw%3d%3d); }

@font-face {
 font-family: "Franklin ITC";
 src: url("//cloud.webtype.com/webtype/ff/2/725f1333-2ea8-4326-bcd9-b2745f0d96f0");
 src:  url("//cloud.webtype.com/webtype/ff/2/725f1333-2ea8-4326-bcd9-b2745f0d96f0#iefix")  format("embedded-opentype"),
  url("//cloud.webtype.com/webtype/ff/1/decbb136-ba7b-452a-aa9f-8df44414150e") format("truetype"),
  url("//cloud.webtype.com/webtype/ff/3/8d0effe6-81c8-4620-a8a6-acd1063e0de7") format("woff"),
  url("//cloud.webtype.com/webtype/ff/4/d6df20b4-eff4-4806-b982-72f14601c03b#web") format("svg");
 font-style: normal;
 font-weight: normal;
}
@font-face {
 font-family: "Franklin ITC";
 src: url("//cloud.webtype.com/webtype/ff/2/ba0fcdc6-0581-4e4f-928b-513bbe243678");
 src:  url("//cloud.webtype.com/webtype/ff/2/ba0fcdc6-0581-4e4f-928b-513bbe243678#iefix")  format("embedded-opentype"),
  url("//cloud.webtype.com/webtype/ff/1/1f17931b-690d-4841-8677-758aa0f0c51d") format("truetype"),
  url("//cloud.webtype.com/webtype/ff/3/2c01d185-ff6d-4842-a05d-0693abd285f9") format("woff"),
  url("//cloud.webtype.com/webtype/ff/4/80d89d9f-6b7e-40c5-9175-c71a7e886008#web") format("svg");
 font-style: italic;
 font-weight: normal;
}
@font-face {
 font-family: "Franklin ITC";
 src: url("//cloud.webtype.com/webtype/ff/2/2a029f44-63ef-48d8-b356-9774ea666162");
 src:  url("//cloud.webtype.com/webtype/ff/2/2a029f44-63ef-48d8-b356-9774ea666162#iefix")  format("embedded-opentype"),
  url("//cloud.webtype.com/webtype/ff/1/cee5e87f-79c7-4699-ae2b-c3b4094536b4") format("truetype"),
  url("//cloud.webtype.com/webtype/ff/3/ac123c71-08f3-40c8-a00c-70eaa9c6e20c") format("woff"),
  url("//cloud.webtype.com/webtype/ff/4/b12956e5-a1d9-4053-a1aa-b0be34397660#web") format("svg");
 font-style: normal;
 font-weight: 900;
}
@font-face {
 font-family: "Franklin ITC";
 src: url("//cloud.webtype.com/webtype/ff/2/d036863b-5de6-4225-b43b-b3e4b05e21dc");
 src:  url("//cloud.webtype.com/webtype/ff/2/d036863b-5de6-4225-b43b-b3e4b05e21dc#iefix")  format("embedded-opentype"),
  url("//cloud.webtype.com/webtype/ff/1/7bc71471-ae21-4eed-9d49-6558530f1bb3") format("truetype"),
  url("//cloud.webtype.com/webtype/ff/3/94de4d90-5921-4d50-8e82-d8ef5466d063") format("woff"),
  url("//cloud.webtype.com/webtype/ff/4/88e50525-8ea4-4fff-89e7-3ba232ea4ce4#web") format("svg");
 font-style: normal;
 font-weight: bold;
}
@font-face {
 font-family: "Franklin ITC";
 src: url("//cloud.webtype.com/webtype/ff/2/d02e811d-a0b9-4274-a04d-4e99dc107bec");
 src:  url("//cloud.webtype.com/webtype/ff/2/d02e811d-a0b9-4274-a04d-4e99dc107bec#iefix")  format("embedded-opentype"),
  url("//cloud.webtype.com/webtype/ff/1/a5dc5476-9133-4939-b1fc-f775abb8bb15") format("truetype"),
  url("//cloud.webtype.com/webtype/ff/3/04287c7f-c375-49b8-905d-de443fca10a4") format("woff"),
  url("//cloud.webtype.com/webtype/ff/4/867dbed0-6911-4cb1-9edf-df105e219ec3#web") format("svg");
 font-style: italic;
 font-weight: bold;
}