.Header {
	border-bottom: 1px solid black;
	text-align: left;
	width: 100%;
	z-index: 100;
}

.Header-wrap {
	overflow: auto;
}

@media (--v_medium) {
	.Header {
		background: rgba(0, 0, 0, 0.6);
		margin-bottom: 0;
		position: fixed;
		text-align: right;
	}

	.Header-wrap {
		height: 65px;
		overflow: hidden;
	}
}
